xarray>=0.19.0
hydropandas>=0.5.1
geopandas==0.9.0
tqdm>=4.59.0
pytest>=6.2.3
Shapely>=1.7.1
numpy>=1.20.1
requests>=2.25.1
nbformat>=5.2.0
flopy>=3.3.3
gdown>=4.4.0
rdp==0.8
nbconvert>=6.4.5
OWSLib==0.24.1
pandas>=1.4.1
matplotlib>=3.3.4
scipy>=1.6.2
rasterio==1.2.6